
/* imp */
.pageHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* //max-width: 120px; Adjust based on your needs */
}

.row_between_invoice {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  border-bottom: 1px solid gray;
}
.pos_tbl_invoice {
  width: 100%;
  border-collapse: collapse;
  border: 1pt solid rgb(229, 229, 229);
}
.pos_tbl_invoice tr {
  border-bottom: 1pt solid rgb(229, 229, 229);
}
table.pos_tbl_invoice th,
table.pos_tbl_invoice td {
  text-align: left;
  font-size: 9px;
  padding: 2px;
}

.textTitle {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
}

.chatCard {
  margin-bottom: 10px;
}

.chatCardHeader {
  padding: 10px;
  background-color: rgb(198, 203, 207);
}

.chatStyle {
  padding: 1px;
  background-color: rgb(198, 203, 207);
  height: 300px;
}

.loginContainer {
  border: 1px solid #888888;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  width: 500px;
}

.txtMain {
  font-size: 20px;
  font-weight: bold;
}

.txtSmall {
  font-size: 11px;
  color: #888888;
}

/* mainlayout */
.admin-header {
  background-color: rgb(222, 242, 242);
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
}

/* .admin-body {
  
  padding: 16px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
} */

.admin-header-g1 {
  display: flex;
}

.admin-header-g2 {
  display: flex;
  align-items: center;
}

.txt-brand-name {
  font-size: 18px;
  font-weight: bold;
}

.txt-username {
  font-size: 16px;
  font-weight: bold;
}

.admin-logo {
  width: 60px;
  margin-right: 10px;
  border-radius: 30px;
}

.img-user {
  width: 60px;
  margin-left: 10px;
  border-radius: 30px;
  cursor: pointer;
}

.icon-notify {
  font-size: 34px;
  margin-right: 15px;
}
.icon-email {
  font-size: 34px;
  margin-right: 15px;
}

.register-form {
  background: rgb(255, 253, 253);
  padding: 50px 50px 30px 50px;
  border-radius: 10px;
  width: 400px;
}

.btn-register {
  background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
  margin-top: 20px;
  margin-left: 50%;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display:  flex;
  width: 100%;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}
.btn-login {
  background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
  margin-top: 40px;
  margin-left: 10%;
  padding: 15px 45px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display:  flex;
  width: 120px;
  font-size: 18px;
  /* justify-content: center; */
  /* align-items: center; */
}
.btn-register{
  background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
  margin-top: 40px;
  margin-left: 20%;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display:  flex;
  width: 120px;
  font-size: 18px;
}
.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, rgb(135, 130, 245), rgb(240, 128, 128))
}
.login-register{
  
  display: flex;
  justify-content: center;
}
.btn-add{
  margin-left: 20px;
  margin-bottom: 5px;
}
.table{
  margin-left: 10px;
}
.admin-header {
  background-color: rgb(46, 51, 51);
  height: 80px;
  /* width: 100vw; */
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
}
.admin-body{
  /* padding: 10px;
  min-width: 100vw;
  height: calc(100vw - 110px);
  min-height: 100vh; */
  
  overflow-y: scroll;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  min-width: 86vw;
  min-height: 100vh;
  display:inline-block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.admin-header-g1{
  display: flex;
}
.admin-header-g2{
  display: flex;
  align-items: center;
}
.txt-brand-name{
  font-size: 18px;
  font-weight: bold;
}
.txt-username{
  font-size: 16px;
  font-weight: bold;;
}
.admin-logo{
  width: 50px;
  height: 50px;
  font-weight: 60px;
  margin-right: 10px;
  border-radius: 30px;
}
.img-user{
  width: 60px;
  margin-left: 10px;
  border-radius: 30px;
  cursor: pointer;
}
.icon-notify{
  font-size: 34px;
  margin-right: 15px;
}
.icon-email{
  font-size: 34px;
  margin-right: 15px;
}
/* for thems */
body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #000000;
  color: #ffffff;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

button.light {
  background-color: #000000;
  color: #ffffff;
}

button.dark {
  background-color: #ffffff;
  color: #000000;
}
